<html>

{{partial '_head'}}

<body class="home">
    <section class="header">
        <div class="center">
            <div class="logo">
                <img src="/assets/images/logo-white-small.png"
                     srcset="/assets/images/logo-white-small.png 1x, /assets/images/logo-white-small@2x.png 2x"
                     width="100px"
                />

                <h1>
                    Broccoli.js
                </h1>
            </div>
            <h2 class="strapline">
                The asset pipeline for ambitious web applications
            </h2>

            <div class="terminal">
                <div class="terminal-header">
                    <div class="terminal-button"></div>
                    <div class="terminal-button"></div>
                    <div class="terminal-button"></div>
                </div>

                <code class="terminal-body hljs language-bash">yarn add --dev broccoli broccoli-cli</code>
            </div>
            <div class="requirements">
                Requires Node v6+
            </div>

            <div class="hero-buttons">
                <a href="https://github.com/broccolijs/broccoli" class="hero-button">Github</a>
            </div>
        </div>
    </section>

    <section class="content">
        <h1 class="heading">{{attributes.title}}</h1>
        {{body}}
    </section>
</body>

</html>