<html>

<head>
    <title>{{attributes.title}} | Broccolijs.com</title>
    <link media="all" rel="stylesheet" href="/assets/site.css" />
</head>

<body>
    {{body}}

    <div>Markdown file: {{markdownFile}}</div>
</body>

</html>