*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  color: $body-color;
  font-family: tablet-gothic, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

ul,
ol,
p,
pre {
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  margin-left: 1rem;
}

ol {
  margin-left: 1rem;
}

a {
  color: $link-color;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  code {
    background: $color-off-white;
    border: 1px solid $color-light-grey;
    border-radius: 3px;
    color: $color-red;
    padding: 2px 5px;
  }
}
