
.home {
  > .header {
    border: 12px solid #0c350e;
    background: linear-gradient(135deg, #1e481b, #48a268);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;

    .logo {

      img {
        vertical-align: bottom;
        display: inline-block;
      }

      h1 {
        color: white;
        font-size: 3rem;
        margin: 0 0 0 10px;
        font-family: monospace;
        display: inline-block;
      }
    }

    .strapline {
      color: lightgrey;
      margin-top: 30px;
      font-size: 1.5rem;
    }

    .terminal {
      border-radius: 5px;
      overflow: hidden;
      margin: 70px 0 20px;
      text-align: left;

      .terminal-header {
        display: flex;
        align-items: center;
        height: 30px;
        background: #525252;
        padding-left: 8px;

        .terminal-button {
          border-radius: 50%;
          background: darkgrey;
          width: 10px;
          height: 10px;
          margin-left: 6px;
        }
      }

      .terminal-body {
        padding: 20px;
        color: lightgrey;
      }
    }

    .requirements {
      margin-bottom: 20px;
      text-align: center;
      color: darkgrey;
      font-size: 0.8rem;
    }

    .hero-buttons {
      margin-top: 50px;

      .hero-button {
        display: inline-block;
        border: 3px solid white;
        padding: 15px;
        color: white;
        border-radius: 5px;
        text-decoration: none;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
  }

  > .content {
    > .summary {
      margin: 30px 0 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        width: 50%;

        &:nth-child(1),
        &:nth-child(3) {
          padding-right: 20px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          padding-left: 20px;
        }
      }
    }
  }
}