
.home {
  > .header {
    align-items: center;
    background: linear-gradient(135deg, $header-bg-left, $header-bg-right);
    border: 12px solid $header-border-color;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    text-align: center;

    .logo {

      img {
        display: inline-block;
        vertical-align: bottom;
      }

      h1 {
        color: $color-white;
        display: inline-block;
        font-family: monospace;
        font-size: 3rem;
        margin: 0 0 0 10px;
      }
    }

    .strapline {
      color: $color-light-grey;
      font-size: 1.5rem;
      margin-top: 30px;
    }

    .terminal {
      border-radius: 5px;
      margin: 70px 0 20px;
      overflow: hidden;
      text-align: left;

      .terminal-header {
        align-items: center;
        background: $terminal-header-color;
        display: flex;
        height: 30px;
        padding-left: 8px;

        .terminal-button {
          background: $color-dark-grey;
          border-radius: 50%;
          height: 10px;
          margin-left: 6px;
          width: 10px;
        }
      }

      .terminal-body {
        color: $terminal-body-color;
        padding: 20px;
      }
    }

    .requirements {
      color: $color-dark-grey;
      font-size: .8rem;
      margin-bottom: 20px;
      text-align: center;
    }

    .hero-buttons {
      margin-top: 50px;

      .hero-button {
        border: 3px solid $color-white;
        border-radius: 5px;
        color: $color-white;
        display: inline-block;
        padding: 15px;
        text-decoration: none;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
  }

  > .content {
    > .summary {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 30px 0 10px;

      div {
        width: 50%;

        &:nth-child(1),
        &:nth-child(3) {
          padding-right: 20px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          padding-left: 20px;
        }
      }
    }
  }
}
