
body {
  > nav {
    background: $header-border-color;
    border-bottom: 1px solid $color-dark-green;
    text-align: center;

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      vertical-align: middle;

      a {
        color: $color-white;
        display: inline-block;
        padding: 10px;

        &:visited {
          color: $color-white;
        }
      }
    }
  }

  &.home > nav {
    margin-top: -10px;
  }
}
