
@media only screen and (max-width: 600px) {
  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .mobile-show {
    display: none;
  }

  .mobile-hide {
    display: block;
  }
}
