/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  color: #6f7c82;
  font-family: tablet-gothic, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e481b;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p,
pre {
  margin-bottom: 1rem;
}

a {
  color: #1e481b;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p code {
  background: #f3f3f3;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: #d03333;
  padding: 2px 5px;
}

iframe[src^="https://codesandbox.io"] {
  background: #1c2022;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .mobile-show {
    display: none;
  }

  .mobile-hide {
    display: block;
  }
}
body > nav {
  background: #0c350e;
  border-bottom: 1px solid #1e481b;
  text-align: center;
}
body > nav li {
  display: inline-block;
  vertical-align: middle;
}
body > nav li a {
  color: white;
  display: inline-block;
  padding: 10px;
}
body.home > nav {
  margin-top: -10px;
}

.home > .header {
  align-items: center;
  background: linear-gradient(135deg, #1e481b, #48a268);
  border: 12px solid #0c350e;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
  text-align: center;
}
.home > .header .logo img {
  display: inline-block;
  vertical-align: bottom;
}
.home > .header .logo h1 {
  color: white;
  display: inline-block;
  font-family: monospace;
  font-size: 3rem;
  margin: 0 0 0 10px;
}
.home > .header .strapline {
  color: lightgrey;
  font-size: 1.5rem;
  margin-top: 30px;
}
.home > .header .terminal {
  border-radius: 5px;
  margin: 70px 0 20px;
  overflow: hidden;
  text-align: left;
}
.home > .header .terminal .terminal-header {
  align-items: center;
  background: #525252;
  display: flex;
  height: 30px;
  padding-left: 8px;
}
.home > .header .terminal .terminal-header .terminal-button {
  background: darkgrey;
  border-radius: 50%;
  height: 10px;
  margin-left: 6px;
  width: 10px;
}
.home > .header .terminal .terminal-body {
  color: #d3d3d3;
  padding: 20px;
}
.home > .header .requirements {
  color: darkgrey;
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}
.home > .header .hero-buttons {
  margin-top: 50px;
}
.home > .header .hero-buttons .hero-button {
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin: 0 10px;
  padding: 15px;
  text-decoration: none;
}
.home > .header .hero-buttons .hero-button:hover {
  background: #1e481b;
}
.home .center {
  display: flex;
  flex-direction: column;
}
.home > .content > .summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0 10px;
}
.home > .content > .summary div {
  width: 50%;
}
.home > .content > .summary div:nth-child(1), .home > .content > .summary div:nth-child(3) {
  padding-right: 20px;
}
.home > .content > .summary div:nth-child(2), .home > .content > .summary div:nth-child(4) {
  padding-left: 20px;
}

body > .content,
body > footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}
body > footer {
  text-align: center;
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}

.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/
.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}

/*# sourceMappingURL=site.css.map */